@use "../../breakpoint.scss" as bp;
@use "../../typography.scss" as typo;
@use "../../variables.scss" as var;

.articleWrapper {
    width: 100%;
}

.article {
    background-color: var.$color-black;
    border-radius: 10px;
    width: 100%;
    min-height: 200px;
    padding: 20px;
    display: flex;
    gap: 20px;
    @include bp.mq(md) {
        display: block;
    }
    &__title {
        @include typo.ja-bold-24;
        color: var.$color-white;
        width: 30%;
        @include bp.mq(md) {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    &__contents {
        min-height: 100%;
        position: relative;
        width: calc(100% - 20px - 40px);
        @include bp.mq(md) {
            width: 100%;
        }
        &__description {
            position: relative;
            overflow: hidden;
            min-height: calc(100% - 30px);
            flex: 1;
            &__text {
                @include typo.ja-bold-16;
                color: var.$color-white;
                white-space: pre-wrap;
                overflow-wrap: break-word;
                letter-spacing: 1px;
                line-height: 1.5;
            }
            &__gradation {
                background: linear-gradient(
                  0deg,
                  rgba(var.$color-black, 1) 0%,
                  rgba(var.$color-black, 0.8) 0%,
                  rgba(var.$color-black, 0.8) 0%,
                  rgba(var.$color-black, 0) 50%
                );
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 1;
                @include bp.mq(md) {
                    background: linear-gradient(
                      0deg,
                      rgba(var.$color-black, 1) 0%,
                      rgba(var.$color-black, 0.8) 0%,
                      rgba(var.$color-black, 0.8) 0%,
                      rgba(var.$color-black, 0) 5%
                    );
                }
            }
        }
        &__createdAt {
            @include typo.ja-bold-16;
            align-items: center;
            bottom: 0;
            color: var.$color-white;
            gap: 10px;
            display: flex;
            margin-top: auto;
            opacity: 0.8;
            position: absolute;
            flex: 0;
            @include bp.mq(md) {
                position: static;
                margin-top: 20px;
            }
            &__icon {
                width: 20px;
                height: 20px;
                position: relative;
            }
        }
    }
}