@use "../../typography.scss" as typo;
@use "../../variables.scss" as var;

.input {
    @include typo.ja-bold-16;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid var.$color-gray-light;
    color: var.$color-black;
    padding: 10px;
    transition: .3s;
    width: 100%;
    &::placeholder {
        color: var.$color-gray-light;
    }
    &:focus {
        border: 2px solid var.$color-black;
    }
}

.button {
    @include typo.ja-bold-16;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid var.$color-gray-light;
    color: var.$color-black;
    padding: 10px;
}