.form {
    margin-top: 50px;
    margin-bottom: 50px;
    &__input {
        margin-bottom: 20px;
    }
    &__submit {
        display: block;
        margin-left: auto;
    }
}
.title {
    margin-top: 50px;
}